*{
    /* width: 80%; */
    /* background-color: antiquewhite; */
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    /* justify-content: center; */
    
}
#header{
    height: auto;
    width: 80%;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content:space-around;
    background-color:grey;
    /* color: red; */
    /* padding: 10px; */
}

img{
    width: 300px;
    height: 300px;
}

#dish
{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    
    
    
}


